@charset "UTF-8";

* {
	font-family: Verdana;
}

.contenedor {
	text-align: center;
	padding-top: 500px;
}

body {
      background-image: url("/img/index.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }